<profiles>
  <profile>
    <id>nextwork-nextwork-devops-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextwork-nextwork-devops-cicd</id>
        <url>https://nextwork-162599956757.d.codeartifact.us-east-2.amazonaws.com/maven/nextwork-devops-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>